/* ----------------------------------------------------------------------
Titel:     Reset CSS
Autor:     Joachim Kildau
Created:   13.12.2007
Updated:   18.03.2011
Info:      Elemente browserneutral vorbelegen
---------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Dosis:600&subset=latin-ext');

body.font, 
.font form, 
.font fieldset, 
.font legend, 
.font label, 
.font select, 
.font textarea, 
.font cite {
    font-family: "Dosis", sans-serif;
    font-size: 1.1em;
    line-height: 1.25em;
}

body.font .section #portrait h2,
body.font .section h1,
body.font .employee h3,
body.font .funding h1,
body.font .old_funding h1 {
   color: #7a7a7a;
}

#font {
   visibility: hidden;
   font-family: "Dosis", sans-serif;
   font-size: 1em;
   line-height: 1.4em;
}
/* ---------------------------------------------------------------------- */