/* ----------------------------------------------------------------------
Titel:     Reset CSS
Autor:     Joachim Kildau
Created:   13.12.2007
Updated:   18.03.2011
Info:      Elemente browserneutral vorbelegen
---------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
}
html {
    overflow-y: scroll;
}
html, body, form, fieldset, legend, label, select, textarea, cite {
    
    font-style: normal;
    line-height: 1.4em;
    border: none;
}
form label {
    cursor: pointer;
}
ul, ol, dl, li, dd {
    list-style-type: none;
}
img, a img {
    border: none;
}

a:link {
    color: #000;
}
a:visited {
    color: white;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}
/* ---------------------------------------------------------------------- */