/* ----------------------------------------------------------------------
Titel:     Tools CSS
Autor:     Joachim Kildau
Created:   25.05.2010
Updated:   18.03.2011
Info:      Nuetzliche Klassen
---------------------------------------------------------------------- */
.clear {
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline;
}
div.clear {
	clear: both;
	height: 1px;
	margin: 0px;
	padding: 0px;
	border: none;
	display: block;
	overflow: hidden;
}
br.clear {
	clear: both;
	height: 1px;
	margin: 0px;
	padding: 0px;
	border: none;
	display: inline;
}
hr.clear {
	display: block;
	clear: both;
}
.hidden, .flag {
    display: none;
}
.invis {
    visibility: hidden;
}